body{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.content1{
    height: 100vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0557/2172/2044/files/2021-02_EKH21-59_copie_2808x.jpg?v=1630660148);
    background-repeat: none;
    background-size: cover;
}

.container {
    width: 1140px;
}

.row {
    margin-top: 100px;
    margin-bottom: 100px;
}


h2{
    margin-top: 60px;
    margin-bottom:60px;
    
}

.card-text1{
    height: 5rem;
    
}

.card-text{
    height: 2rem;
    font-weight: 600;
}

.card-body {
    height: 10rem;
    text-align: center;
}

.card{
    border: none;
}

.row2 {
    margin-bottom: 70px;
}

.carousel-item{
    height: 100px;
}

li{
    list-style: none;
}

.container2 {
    margin: 200px 0px;
    text-align: center;
}


