body{
    line-height: 1.5;
}
#email{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    list-style: none;
}
.footer{
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    margin-top: 50px;
}
.footer-col h4{
    font-size: 15px;
    color: #5F5E5E;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    position: relative;
}

.footer-col ul li a{
    font-size: 13px;
    text-transform: capitalize;
    color:#a5a5a5 ;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.footer-col ul li a:hover{
    color: #575757;
    padding-left: 8px;
}
.social-links {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color:#949393 ;
    transition: all 0.5s ease;
}
.social-links:hover{
    color:#2e2d2d ;
    
}
#email{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 14px;
    
}
span{
    height: 1px;
    background-color: rgb(224, 224, 224);
    content: "";
    display: block;
    width: 70%;
    margin: auto;
    
    
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

